option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current"
    AWS_DEFAULT_REGION: "us-east-1"
  aws:elasticbeanstalk:container:python:
    WSGIPath: app.main:app
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: apache
  aws:elasticbeanstalk:environment:process:default:
    Port: 8000
    Protocol: HTTP

files:
  "/etc/httpd/conf.d/wsgi_custom.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      ProxyPass / http://127.0.0.1:8000/
      ProxyPassReverse / http://127.0.0.1:8000/

container_commands:
  01_upgrade_pip:
    command: "pip install --upgrade pip"
  02_install_gunicorn:
    command: "pip install gunicorn"
  03_reload_apache:
    command: "/usr/bin/systemctl restart httpd || /sbin/service httpd restart"
    ignoreErrors: true