option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: app.main:app
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current"
    AWS_DEFAULT_REGION: "us-east-1"
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: apache

packages:
  yum:
    gcc: []
    python3-devel: []